.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slideIn {
  opacity: 1;
  transform: translateX(0);
}

.t1 {
  font-size: 3rem;
  font-weight: 700;

  text-align: center;
  margin: 0;
  padding: 0;
}

.t2 {
  text-align: center;
  width: 60%;
  font-family: "Courier New", Courier, monospace;
}
